body{
	background-color:#dddddd;
	background-image:url("background.gif");
	  background-size: 1300px;
	  background-repeat:no-repeat;
	  background-attachment:fixed;
}


.music{
		display:none;
	}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
nav{
 background-color:#594df5;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 60px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
  
}
nav ul li a{
  
  font-weight: 1000;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family:  serif;;
}
a.active,a:hover{
  background: #dddddd;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#main{
	border-radius:10px;
	width:1000px;
	height:250px;
	background-image:url("banner2.gif");
	margin:25px auto;
	border:solid 2px #594df5;
	
}
	#main2{
	border-radius:10px;
	width:1000px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("banner-3.gif");
}
div.a {
	width:500px;
	padding-left:5px;
	padding:5px;
 font-size: 18px;
}
.a p{
	padding-left:20px;
	padding-right:15px;

}
#footer{
	background-color:#776ef3;
	width:300px;
	height:30px;
	margin-left:540px;
	border-radius:10px;
	border:solid 2px #594df5;
	
}
#footer p{
	
	padding-left:4px;
}
#main3{
	border-radius:10px;
	width:1000px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("banner-4.gif");
}
div.b {
	width:500px;
	padding-left:5px;
	padding:5px;
 font-size: 18px;
}
.b p{
	padding-left:20px;
	padding-right:15px;

}
#main4{
	border-radius:10px;
	width:1000px;
	height:250px;
	background-image:url("banner5.gif");
	margin:25px auto;
	border:solid 2px #594df5;
	
}
div.c {
	margin-top:100px;
	margin-left:150px;
	width:900px;
	padding-left:5px;
	padding:5px;
 font-size: 18px;
}
c.p1{
	
	padding-right:150px;
}
c.p2{
	
	font-weight:400px;
}

#main5{
		display:none;
		
		
		
	}
#main6{
		display:none;
		
		
		
	}


@media (max-width: 952px){
  
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#37A6F8;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
   background: #dddddd;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
    body{
	 background:none;
  }
  
    #main
  {
	border-radius:10px;
	width:450px;
	height:250px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("ban1.gif");
}
#main2{
		
		display:none;
	}
	#main3{
		
		display:none;
	}
	#main4{
		
		display:none;
	}
	#main5{
		display:block;
		border:solid 2px #594df5;
		
		
	}
	div.b {
	width:450px;
	padding-left:5px;
	padding:5px;
 font-size: 18px;
}
.b p{
	padding-left:2px;
	padding-right:10px;

}


	#main6{
		display:block;
		border:solid 2px #594df5;
		
		
	}
	div.d {
	width:450px;
	
	padding:5px;
 font-size: 18px;
}
.d p{
	padding-left:2px;
	padding-right:10px;

}




	.box1{
	border-radius:10px;
	width:450px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("ban-2.gif");
	
	}
		.box2{
	border-radius:10px;
	width:450px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("b3.gif");
	
	}
	.box3{
	border-radius:10px;
	width:450px;
	height:250px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("b4.gif");
	
	}
	#footer{
	
	margin-left:80px;
}
	
}
@media (max-width: 450px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#37A6F8;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
   background: #dddddd;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
    body{
	 background:none;
  }
  
    #main
  {
	border-radius:10px;
	width:450px;
	height:250px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("ban1.gif");
}
#main2{
		
		display:none;
	}
	#main3{
		
		display:none;
	}
	#main4{
		
		display:none;
	}
	#main5{
		display:block;
		border:solid 2px #594df5;
		
		
	}
	div.b {
	width:450px;
	padding-left:5px;
	padding:5px;
 font-size: 18px;
}
.b p{
	padding-left:2px;
	padding-right:10px;

}


	#main6{
		display:block;
		border:solid 2px #594df5;
		
		
	}
	div.d {
	width:450px;
	
	padding:5px;
 font-size: 18px;
}
.d p{
	padding-left:2px;
	padding-right:10px;

}




	.box1{
	border-radius:10px;
	width:450px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("ban-2.gif");
	
	}
		.box2{
	border-radius:10px;
	width:450px;
	height:500px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("b3.gif");
	
	}
	.box3{
	border-radius:10px;
	width:450px;
	height:250px;
	margin:25px auto;
	border:solid 2px #594df5;
	background-image:url("b4.gif");
	
	}
	#footer{
	
	margin-left:80px;
}
	
}

